<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}",local:true do |f| %>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
  <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field:title %>
  </div>
  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area:body %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>